<div class="menu">

  <div class="nsei">
    <h1 class="menu-title">POKE</h1>
    <hr>

    <div class="pages-container">
      <h3 class="op">
        <div class="op-icon">
          <img src="../../../assets/pokeball_icon_vec.png" alt="icon"> 
        </div>
        <a href="pokedex">Pokedex</a>
      </h3>
      <h3 class="op">
        <div class="op-icon">
          <img src="../../../assets/dashboard_icon_vec.png" alt="icon"> 
        </div>
        <a href="dashboard">Dashboard</a>
      </h3>
    </div>
    
  </div>

  <div class="user-container">
    <div class="user-thumbnail">
      <img src="../../../assets/user_default.png" alt="user.png" />
    </div>
    <div class="user-info">
      <span class="user-nickname">Usuario Default</span>
      <span class="user-at">@usuario</span>
    </div>
  </div>
  <div class="menu-bg"></div>
</div>
