<div class="toolsbar">
  <button class="sorting-button" 
    (click)="sortingOpenClose()"
    clickOutside (clickOutside)="clickedOutside()"
  >══
    <div class="sorting-options" *ngIf="sortingOpen">
      <span class="sorting-op">#NUMBER</span>
      <span class="sorting-op">NAME</span>
      <span class="sorting-op">❤ HP</span>
      <span class="sorting-op">⚔ ATK</span>
      <span class="sorting-op">♢ DEF</span>
      <span class="sorting-op">⚔ SATK</span>
      <span class="sorting-op">♢ SDEF</span>
      <span class="sorting-op">➲ SPD</span>
    </div>
  </button>
  <div class="search-field">
    <input type="text"/>
    <button>◙</button>
  </div>
  <div class="list-buttons">
    <button class="state-button" (click)="changeListType('list-simple')">
      <span>♣</span>
      <span>Card</span>
    </button>
    <button class="state-button" (click)="changeListType('list-detail')">
      <span>═</span>
      <span>List</span>
    </button>
  </div>
</div>