<div class="toolsbar">
  
  <div class="search-field">
    <input type="text"/>
    <button>◙</button>
  </div>

  <div class="sort-menu" clickOutside (clickOutside)="clickedOutside()">

    <button class="sorting-button" (click)="toggleSortMenu()">══</button>

    <div class="sorting-options" *ngIf="sortingOpen">
      <span class="sorting-op">#NUMBER</span>
      <span class="sorting-op">NAME</span>
      <span class="sorting-op">❤ HP</span>
      <span class="sorting-op">⚔ ATK</span>
      <span class="sorting-op">♢ DEF</span>
      <span class="sorting-op">⚔ SATK</span>
      <span class="sorting-op">♢ SDEF</span>
      <span class="sorting-op">➲ SPD</span>
    </div>

  </div>

  <div class="list-buttons">
    <button class="state-button" (click)="changeListType('list-simple')">
      <span>♣</span>
      <span>Card</span>
    </button>
    <button class="state-button" (click)="changeListType('list-detail')">
      <span>═</span>
      <span>List</span>
    </button>
  </div>

</div>