<div class="filterbar">
  <div class="types-filterbox">
    <h3>TYPES</h3>
    <div class="types-container">
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'grass'" />
      <app-type-tag [name]="'any'" />
    </div>
  </div>
  <hr />
  <div class="stats-filterbox">
    <h3>STATS</h3>
    <div class="stats-container">
      <label class="stat">HP
        <input class="stat-input" type="text" />
        <input class="stat-input" type="text" />
      </label >
      <label class="stat">ATK
        <input class="stat-input" type="text" />
        <input class="stat-input" type="text" />
      </label>
      <label class="stat">DEF
        <input class="stat-input" type="text" />
        <input class="stat-input" type="text" />
      </label>
      <label class="stat">SATK
        <input class="stat-input" type="text" />
        <input class="stat-input" type="text" />
      </label>
      <label class="stat">SDEF
        <input class="stat-input" type="text" />
        <input class="stat-input" type="text" />
      </label>
      <label class="stat">SPD
        <input class="stat-input" type="text" />
        <input class="stat-input" type="text" />
      </label>
    </div>
  </div>
  <hr />
  <div class="abilities-filterbox">
    <h3>ABILITIES</h3>
    <div class="abilities-container"></div>
  </div>
  <hr />
  <div class="moves-filterbox">
    <h3>MOVES</h3>
    <div class="moves-container"></div>
  </div>
</div>
