.list-simple{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 60dvw;
  height: 88.5dvh;
  padding: 1em;
  gap: 1em;
  border-radius: 1rem;
  overflow-x: hidden;
  background-color:rgb(100, 106, 110);
}
.list-simple .loadbutton{
  width: 90%;
}